#compiled object files of c++
*.o

#user files of qt
*.pro.user
*.pro.user.*

# Generated MOC, resource and UI files
# (need this later eventually)
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h

#ignore build directories
debug/
release/

*.Debug
*.Release

#generated makefiles
Makefile*
/.qmake.cache
/.qmake.stash

#built windows .exe
*.exe

#any temporary files
*~
